@charset "UTF-8";
.round-button {
  width: 56px;
  height: 56px;
  background: #FF4081;
  border-radius: 28px;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 93%; }
  .round-button .plus-icon {
    position: absolute;
    margin-left: 18px;
    margin-top: 15px; }
    .round-button .plus-icon:after {
      font-family: FontAwesome;
      content: "";
      color: #FFFFFF; }
