@import "../helpers/variables";

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.app-aggregator {

  .todo-items-list {
    margin: auto;
    padding-right: 0;
    text-align: center;

    .todo-item {
      display: inline-table;
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      width: 30%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: white;
      margin: 1%;
      text-align: left;



      .todo-list {
        cursor: pointer;


        .todo-showCompleted {
          border-bottom: 1px solid $divider-color;
          color: $secondary-text-color;
          padding: 8px 15px 8px 13px;
          font-size: 13px;

          span {
            span:hover {
              color: $primary-color-dark;
            }
          }

          .showCompleted:after {
            font-family: $iconFont;
            float: right;
            content: "\f078";
          }

          .hideCompleted:after {
            font-family: $iconFont;
            float: right;
            content: "\f077";
          }
        }

        label {
          display: block;
          border-bottom: 1px solid $divider-color;
          padding: 16px 0;
        }

        input[type="checkbox"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          outline: none;

          &:focus {
            outline: none;
          }

          &:before {
            font-family: $iconFont;
            content: "\f096";
            font-size: 15px;
            margin: 0 10px;
          }

          &:checked:before {
            font-family: $iconFont;
            content: "\f046";
            font-size: 15px;
            color: $secondary-text-color;
            margin: 0 10px;
          }
        }

        .completed-items {
          display: none;

          label {
            color: $secondary-text-color;
            text-decoration: line-through;
          }
        }

        div > label:hover {
          span:after {
            font-family: $iconFont;
            content: "\f00d";
            float: right;
            margin-right: 15px;
            margin-top: 3px;
            color: $secondary-text-color;
            display: inline-block;

            &:hover {
              color: $primary-text-color;
            }
          }
        }
      }
    }
  }

}

