@import "../helpers/variables";

.todo-header {
  background: $primary-color;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  height: 70px;
  vertical-align: middle;
  padding-left: 35px;
  color: white;

  input[type='text'] {
    font-weight: 300;
    border: none;
    background: $primary-color;
    font-size: 30px;
    display: inline;
    width: 250px;
    color: white;
    margin-top: 16px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  span:after {
    font-family: $iconFont;
    content: "\f142";
    float: right;
    margin: 27px 18px;
  }
}