$primary-color-dark: #0288D1;
$primary-color: #03A9F4;
$primary-color-light: #B3E5FC;
$primary-color-text: #FFFFFF;
$accent-color: #FF4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

.todo-item {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;

  .todo-header {
    background: $primary-color;
    position: relative;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    height: 70px;
    vertical-align: middle;
    padding: 1px 25px;

    h2 {
      font-weight: 300;
    }
  }

  .todo-settings{
    border-bottom: 1px solid $divider-color;
    padding: 10px 0;
    font-size: 14px;
    color:$secondary-text-color;
  }

  .todo-list {
    label {
      display: block;
      border-bottom: 1px solid $divider-color;
      padding: 16px 0;
    }

    .completed-items label {
      color: $secondary-text-color;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

/*https://codepen.io/Sambego/pen/zDLxe/       TODO SCSS*/